
#front {

    margin-top: -2px;

    .jumbotron {
        position: relative;

        .names {
            font-family: 'Great Vibes',cursive;
            color: #725656;
            font-size: 90px;
            line-height: initial;
            bottom: 0;
            position: absolute;
            width: 100%;
            text-align: center;

            @media(max-width: 1040px){
                display: none;
            }

            .container {
                width: 750px;
                background: rgba(#fff, 0.6);
                padding: 40px 20px;
            }
        }
    }
}

#home {
    padding: 40px 0 4em 0;
}