// bower:scss
// endbower
$primary-color: #f07677;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// .left-nav {
//     > li {
//         float: right;
//     }
// }

// .nav-left-container {
//     width: 38%;
// }

.navbar {

    @media (min-width: 1200px){
        .left-nav, .right-nav, .navbar-brand {
            width: auto !important;
        }

        .navbar-brand {
            margin-left: 0px !important;
            position: relative;

            .names {
                font-family: 'Great Vibes',cursive;
            }
            span {
                position: absolute;
                top: 35px;
            }
        }

        .navbar-wrapper {
            position: relative; 
            float: left; 
            left: -50%;
        }

        .navbar-collapse {
            position: relative; 
            float: left; 
            left: 50%;
        }
    }

    @media (max-width: 768px){
        .navbar-nav {
            margin: 0px;
        }
    }
}

.view-wrapper {
    margin-top: 90px;
}

.sub_wrapper {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 10000;
}

.sub_text {
    position: relative;
    left: -50%;
    color: $primary-color;
    text-shadow: 1px 1px #888;
    font-size: 20px;
    font-style: italic;
    background-color: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 0px 10px 7px rgba(255,255,255,0.7);
    box-shadow: 0px 0px 10px 7px rgba(255,255,255,0.7);
    display: none;
}


.player_control {
    position: fixed;
    bottom: 20px;
    background: white;
    height: 1.7em;
    padding: 5px 10px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    font-size: 1.5em;
}

.modal-backdrop {
    background-color: rgba($primary-color, 0.5);
}
