
$primary-color: #f07677;

// Ucapan
#ucapan {
    .whirl {
        margin: 50px 0px 70px;
        height: 20px;
    }
    .whirl:before {
        background-color: transparent;
    }

    .whirl.duo:after {
        border-bottom: 4px solid $primary-color;
        border-top: 4px solid $primary-color;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    #slide-ucapan {

        @media (max-width: 991px){
            .carousel-control {
                display: none;
            }
        }
        
        .carousel-control {
            // right: -50%;
            width: 0px;
            font-size: 40px;
            color: $primary-color;
            top: 25px;

            > span {
                top: 290px;
                height: 50px;
            }

        }
        .carousel-control.left {
            left: -50px;
            // left: -10px;
            span {
                margin-left: 0px;
            }
        }
        .carousel-control.right {
            right: -50px;
            // right: -70px;
        }

        .carousel-indicators {
            > li {
                background-color: white;

                @media (max-width: 991px){
                    width: 17px;
                    height: 17px;
                }
            }

            > li.active {
                background-color: $primary-color;
                border-color: $primary-color;
                margin-right: 5px;
                @media (max-width: 991px){
                    width: 19px;
                    height: 19px;
                }
            }
        }

        .carousel-inner {
            .groupucapan > div {
                font-size: 0.9em;
                line-height: 1.7em;
                height: 100%;
                position: relative;

                @media (min-width: 992px){
                    height: 260px;
                }

                .css-emoticon {
                    font-size: 1em;
                }

                .ucapanText {
                    @media(min-width: 992px){
                        margin-top: 10px;
                        height: 197px;
                        width: 100%;
                        overflow-y: auto;
                    }
                }

                .replyText {
                    font-weight: normal;
                    position: absolute; 
                    top: 30px; 
                    right: 0px; 
                    font-size: 1.1em; 
                    border-radius: 0px;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}