<section id="front">
    
    <div class="jumbotron" id="thetop">
        <img src="images/banner.jpg" alt="photo 1" />
        <div class="names hide">
            <div class="container">
                Faiz <span><i>&#38;</i></span> Syafiyah
            </div><!-- /.container -->
        </div><!-- /.names -->

    </div><!-- /.jumbotron -->

</section>

<section id="home">
        <div class="container">
            
            <div class="row">

                <!-- THE TITLE -->
                <div class="col-md-8 col-md-offset-2">
                    <h2>Majlis Walimatul Urus</h2>
                    <p>Dijemput hadir ke majlis walimatul urus kami pada</p>
                    <div class="alert alert-danger" role="alert">
                      14 September 2014 (Perempuan)
                    </div>
                    <p>dan</p>
                    <div class="alert alert-danger" role="alert">
                      20 September 2014 (Lelaki)
                    </div>
                </div><!-- /.col-md-12-->

                <!-- READMORE BUTTON -->
                <div class="col-md-12">
                    <a href="/kisah" class="btn btn-primary btn-lg">Explore More</a>
                </div><!-- /.rows-->
            </div><!-- /.col-md-12-->
          
        </div> <!-- /container --> 
    </section><!-- /# home -->