<section id="front">
    
    <div class="jumbotron" id="thetop">
        <img src="images/banner.jpg" alt="photo 1" />
        <div class="names hide">
            <div class="container">
                Faiz <span><i>&#38;</i></span> Syafiyah
            </div><!-- /.container -->
        </div><!-- /.names -->

    </div><!-- /.jumbotron -->

</section>

<section id="home">
        <div class="container">
            
            <div class="row">

                <!-- THE TITLE -->
                <div class="col-md-8 col-md-offset-2">
                    <h2>Majlis Walimatul Urus</h2>
                    <p>Dengan rasa kesyukuran ke hadrat Allah swt, dan segala hormatnya kami mempersilakan anda ke majlis walimatul urus kami pada</p>
                    <div class="alert alert-danger" role="alert">
                        <span style="font-size: 1.2em;">14 September 2014 (Perempuan)</span><br />
                        <span style="color: white; font-size: 0.8em; text-shadow: 0px 0px 3px #777;"><i>19 Zulkaedah 1435H</i></span><br />
                        <span style="color: white; font-size: 0.8em; text-shadow: 0px 0px 3px #777;"><i>Langkawi, Kedah</i></span>
                    </div>
                    <p>dan</p>
                    <div class="alert alert-danger" role="alert">
                        <span style="font-size: 1.2em;">20 September 2014 (Lelaki)</span><br />
                        <span style="color: white; font-size: 0.8em; text-shadow: 0px 0px 3px #777;"><i>25 Zulkaedah 1435H</i></span><br />
                        <span style="color: white; font-size: 0.8em; text-shadow: 0px 0px 3px #777;"><i>Pmtg Pauh, Pulau Pinang</i></span>
                    </div>
                    <p>Semoga dengan kehadiran dan doa restu para hadirin yang dirahmati akan menyerikan lagi suasana majlis kami serta diberkati Allah swt, InshaAllah. Terima kasih.</p>
                </div><!-- /.col-md-12-->

                <!-- READMORE BUTTON -->
                <div class="col-md-12">
                    <a href="/kisah" class="btn btn-primary btn-lg">Kenali Kami</a>
                </div><!-- /.rows-->
            </div><!-- /.col-md-12-->
          
        </div> <!-- /container --> 
    </section><!-- /# home -->