<section id="galeri">
        
        <!-- "OUR STORY" HEADER -->
        <div id="galeriphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Galeri
                                <span>Memori Indah</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->
        <div class="container">
            <!-- THE FILTER STYLED FOR MEGAFOLIO -->        
            <ul class="filter-list">
                <li class="filter" data-category="cat-all">All</li>
                <li class="filter" data-category="cat-faiz">Faiz</li>
                <li class="filter" data-category="cat-syaf">Syafiyah</li>
                <li class="filter" data-category="cat-tunang">Bertunang</li>
            </ul><!-- /.filter-list -->

            <div class="clearfix"></div>
            <div class="gallery-container">
                <div class="megafolio-container">
                    <div class="mega-entry cat-all cat-faiz" id="entry-1" data-src="images/gallery/convo_faiz_1.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/convo_faiz_1.jpg" title="Convo faiz">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Convo Faiz
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-2" data-src="images/gallery/convo_faiz_2.jpg" data-width="600" data-height="402">
                        <a class="fancybox" rel="group1" href="images/gallery/convo_faiz_2.jpg" title="Convo Faiz">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Convo Faiz
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/convo_syaf_1.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/convo_syaf_1.jpg" title="Convo Syafiyah">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Convo Syafiyah
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/convo_syaf_2.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/convo_syaf_2.jpg" title="Convo Syafiyah">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Convo Syafiyah
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/profile_1.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/profile_1.jpg" title="Menyediakan kad raya (2013)">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Menyediakan kad raya (2013)
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-3" data-src="images/gallery/profile_2.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/profile_2.jpg">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-faiz cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_1.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_1.jpg" title="Hantaran pertunangan">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Hantaran pertunangan
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_2.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_2.jpg" title="Sesi menyarungkan cincin">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Sesi menyarungkan cincin
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_3.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_3.jpg" title="Syafiyah bersama ibu dan ayah">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Syafiyah bersama ibu dan ayah
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_4.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_4.jpg" title="Selepas selesai majlis pertunangan, diadakan sedikit jamuan.">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Selepas selesai majlis pertunangan, diadakan sedikit jamuan.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_5.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_5.jpg" title="Syafiyah bersama sahibah2 yang turut hadir">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Syafiyah bersama sahibah2 yang turut hadir
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-faiz cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_6.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/tunang_6.jpg" title="Kek diberikan sebagai hadiah di hari pertunangan">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Kek diberikan sebagai hadiah di hari pertunangan
                                    <div class="mega-hoversubtitle">(Before The Wedding)</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-3" data-src="images/gallery/kenangan_1.jpg" data-width="600" data-height="450">
                        <a class="fancybox" rel="group1" href="images/gallery/kenangan_1.jpg" title="Faiz dibawa naik bot bersama pc Hashim dan pc Adzahar (ayah syafiyah) pada 2004">
                            <div class="mega-hover">
                                <div class="mega-hovertitle">Faiz dibawa naik bot bersama pc Hashim dan pc Adzahar (ayah syafiyah) pada 2004
                                    <!-- <div class="mega-hoversubtitle">(Before The Wedding)</div> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</section>