<section id="galeri">
        
        <!-- "OUR STORY" HEADER -->
        <div id="galeriphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Galeri
                                <span>Memori Indah</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->
        <div class="container">
            <!-- THE FILTER STYLED FOR MEGAFOLIO -->        
            <ul class="filter-list">
                <li class="filter" data-category="cat-all">All</li>
                <li class="filter" data-category="cat-faiz">Faiz</li>
                <li class="filter" data-category="cat-syaf">Syafiyah</li>
                <li class="filter" data-category="cat-tunang">Bertunang</li>
            </ul><!-- /.filter-list -->

            <div class="clearfix"></div>
            <div class="gallery-container">
                <div class="megafolio-container">
                    <div class="mega-entry cat-all cat-faiz" id="entry-1" data-src="images/gallery/convo_faiz_1.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/convo_faiz_1.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-2" data-src="images/gallery/convo_faiz_2.jpg" data-width="600" data-height="402">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/convo_faiz_2.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/convo_syaf_1.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/convo_syaf_1.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/convo_syaf_2.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/convo_syaf_2.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf" id="entry-3" data-src="images/gallery/profile_1.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/profile_1.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-3" data-src="images/gallery/profile_2.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/profile_2.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-faiz cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_1.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_1.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_2.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_2.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_3.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_3.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_4.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_4.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_5.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_5.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-faiz cat-syaf cat-tunang" id="entry-3" data-src="images/gallery/tunang_6.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/tunang_6.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-faiz" id="entry-3" data-src="images/gallery/kenangan_1.jpg" data-width="600" data-height="450">
                        <div class="mega-hover">
                            <div class="mega-hovertitle">Chairs In The Sunset
                                <div class="mega-hoversubtitle">(Before The Wedding)</div>
                            </div>
                            <a class="fancybox" rel="group1" href="images/gallery/kenangan_1.jpg">
                                <div class="mega-hoverview"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var api=jQuery('.megafolio-container').megafoliopro({});
    });
</script>