<section id="kisahkami">
        
        <!-- "OUR STORY" HEADER -->
        <div id="kisahkamiphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Kisah Kami
                                <span>Susunan Allah SWT Yang Sangat Indah</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->

        <!-- "OUR STORY" ACTUAL CONTENT -->
        <div class="container">

            <!-- SECONDARY TITLE -->
            <h3 class="text-center intermediary-waypoint">Syafiyah Adzahar & Faiz Shukri</h3>

            <!-- SECTION SMALL CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <p align="center"><i>Berikut merupakan rentetan perjalanan kisah kami</i></p>
                 </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

            
            <div class="row couple-photos">

                <!-- THE BRIDE -->
                <div class="col-md-6 col-xs-6 bride">
                    <div class="round-frame-bg alignright">
                        <div class="round-frame">
                            <img src="images/syafiyah.jpg" alt="the bride">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg alignright hide -->
                </div><!-- /.ccol-md-6 col-xs-6 bride-->

                <!-- THE GROOM -->
                <div class="col-md-6 col-xs-6 groom">
                    <div class="round-frame-bg alignleft">
                        <div class="round-frame">
                            <img src="images/faiz.jpg" alt="the groom">
                        </div><!-- /.round-frame -->
                    </div><!-- /.round-frame-bg -->
                </div><!-- /.col-md-6 col-xs-6 groom -->

                <!-- LITTLE HEART GRAPHIC -->
                <img src="images/hearts.png" class="hearts" alt="love">

            </div><!-- /.couple-photos -->

            <div class="thetimeline">

                <!-- THE LINE THAT FORMS THE TIMELINE -->
                <div class="line">&nbsp;</div>

                <div class="theyear">

                    <!-- THE YEAR -->
                    <div class="year">2003</div>

                    <div class="post odd">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">Januari<span>2003</span></div>
                                    <h2>Masuk MATRI</h2>
                                </header>

                                <p>Kami memasuki Maahad Attarbiyah Al Islamiyah (MATRI), Perlis</p>

                                <div class="clear">&nbsp;</div>

                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->
                        <!-- POST EXCERPT - A GALLERY -->
                        <div class="excerpt">
                            <div class="excerpt-content gallery">
                                <h4>Gambar2 ketika di MATRI</h4>
                                <a onclick="return false;" href="images/kisah/matri_f1.jpg" class="fancybox" rel="matri" title="Kem pemantapan ibadah tingkatan 1 di Wang Mu">
                                    <img src="images/kisah/matri_f1_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/matri_f2.jpg" class="fancybox" rel="matri" title="Pasukan bola sepak tingkatan 2 Huffaz">
                                    <img src="images/kisah/matri_f2_thumb.jpg" alt="a little cottage">
                                </a>
                                <a onclick="return false;" href="images/kisah/matri_f3.jpg" class="fancybox" rel="matri" title="Tiba ke kenduri di rumah Ustaz Dahlan ketika dalam musim SPM">
                                    <img src="images/kisah/matri_f3_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/matri_f4.jpg" class="fancybox" rel="matri" title="Hanya tinggal pelajar tingkatan 5 yang belum habis SPM">
                                    <img src="images/kisah/matri_f4_thumb.jpg" alt="a little cottage">
                                </a>
                                <a onclick="return false;" href="images/kisah/matri_s1.jpg" class="fancybox" rel="matri" title="Bersama pelajar puteri">
                                    <img src="images/kisah/matri_s1_thumb.jpg" alt="a little cottage">
                                </a>
                            </div><!-- /.excerpt-content-->
                        </div><!-- /.excerpt -->
                        
                    </div><!-- /.post -->
                </div>
                <div class="theyear">

                    <!-- THE YEAR -->
                    <div class="year">2006</div>

                    <!--
                    ///////////
                    FIRST POST 
                    ///////////
                    -->
                    <div class="post even">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">Julai<span>2006</span></div>
                                    <h2>Titik permulaan</h2>
                                </header>

                                <p>Kami sama-sama terlibat dengan Persatuan Usahawan Muda (PUM) ketika berada di tingkatan 4 pada tahun 2006 di MATRI.</p>

                                <div class="clear">&nbsp;</div>
                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->

                        <!-- POST EXCERPT-->
                        <div class="excerpt">
                            <div class="excerpt-content quote">
                                <span>&#8220;</span>Detik pertemuan 
                            </div><!-- /.excerpt-content-->
                        </div><!-- /.excerpt -->
                    </div><!-- /.post -->
                </div>

                <div class="theyear">
                    <div class="year">2008</div>

                    <div class="post odd">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">Januari<span>2008</span></div>
                                    <h2>Selepas SPM</h2>
                                </header>

                                <p>Selepas tamat SPM pada 2007, Faiz bekerja sebagai warden dan guru sepenuh masa di Sekolah Agama At Toyyibah, Changlun, Manakala Syafiyah pula telah mendaftar masuk ke Kolej Matrikulasi Kedah, yang juga terletak di Changlun.</p>

                                <div class="clear">&nbsp;</div>

                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->
                        
                    </div><!-- /.post -->
                </div>

                    <!--
                    ///////////
                    SECOND POST 
                    ///////////
                    -->
                <div class="theyear">
                    <div class="year">2010</div>

                    <div class="post even">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">October<span>2010</span></div>
                                    <h2>Risikan</h2>
                                </header>

                                <p>Bermulanya saat risikan daripada pihak keluarga Faiz. Kami berdua masih lagi belajar pada ketika ini, Faiz di MMU Cyberjaya manakala Syafiyah pula di USM Pulau Pinang.</p>

                                <div class="clear">&nbsp;</div>

                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->
                        <!-- POST EXCERPT-->
                        <div class="excerpt">
                            <div class="excerpt-content quote">
                                <span>&#8220;</span>Penyusunan Allah swt yang sangat baik 
                            </div><!-- /.excerpt-content-->

                        </div><!-- /.excerpt -->
                        
                    </div><!-- /.post -->
                </div>

                <div class="theyear">
                    <div class="year">2012</div>

                    <!--
                    ///////////
                    THIRD POST 
                    ///////////
                    -->
                    <div class="post odd">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">August<span>2012</span></div>
                                    <h2>Ziarah Keluarga</h2>
                                </header>

                                <p>Ziarah pertama keluarga faiz ke rumah syafiyah.</p>

                                <div class="clear">&nbsp;</div>

                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->
                        <div class="excerpt">
                            <div class="excerpt-content quote">
                                <span>&#8220;</span>Bertaaruf antara keluarga 
                            </div><!-- /.excerpt-content-->
                            <div class="excerpt-content gallery">
                                <h4>Keluarga faiz berkunjung ke langkawi</h4>
                                <a onclick="return false;" href="images/kisah/risik_1.jpg" class="fancybox" rel="risik" title="">
                                    <img src="images/kisah/risik_1_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/risik_2.jpg" class="fancybox" rel="risik" title="">
                                    <img src="images/kisah/risik_2_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/risik_3.jpg" class="fancybox" rel="risik" title="">
                                    <img src="images/kisah/risik_3_thumb.jpg" alt="a sunset">
                                </a>
                            </div><!-- /.excerpt-content-->

                        </div><!-- /.excerpt -->
                        
                    </div><!-- /.post -->
                </div><!-- /.theyear-->


                <!-- THE SECOND YEAR -->
                <div class="theyear">
                    <div class="year">2013</div>

                    <!--
                    ///////////
                    FIRST POST 
                    ///////////
                    -->
                    <div class="post even">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">Disember<span>2013</span></div>
                                    <h2>Pertunangan</h2>
                                </header>

                                <p>Faiz dan Syafiyah telah ditunangkan.</p>

                                <div class="clear">&nbsp;</div>

                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->

                        <!-- POST EXCERPT -->
                        <div class="excerpt">
                            <div class="excerpt-content gallery">
                                <h4>Gambar2 pertunangan</h4>
                                <a onclick="return false;" href="images/kisah/tunang_1.jpg" class="fancybox" rel="tunang" title="Kek sempena pertunangan">
                                    <img src="images/kisah/tunang_1_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/tunang_2.jpg" class="fancybox" rel="tunang" title="Hantaran">
                                    <img src="images/kisah/tunang_2_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/tunang_3.jpg" class="fancybox" rel="tunang" title="Majlis menyarungkan cincin">
                                    <img src="images/kisah/tunang_3_thumb.jpg" alt="a sunset">
                                </a>
                                <a onclick="return false;" href="images/kisah/tunang_4.jpg" class="fancybox" rel="tunang" title="Syafiyah bersama ayah dan mak tercinta">
                                    <img src="images/kisah/tunang_4_thumb.jpg" alt="a sunset">
                                </a>
                            </div><!-- /.excerpt-content-->
                        </div><!-- /.excerpt -->

                    </div><!-- /.post -->

                    <!--
                    ///////////
                    SECOND POST 
                    ///////////
                    -->
                </div>
                <div class="theyear">
                    
                    <div class="year">2014</div>

                    <div class="post odd">

                        <!-- ACTUAL POST CONTENT -->
                        <div class="post-content">
                            <div class="post-box">

                                <header>
                                    <div class="date">September<span>2014</span></div>
                                    <h2>Getting Married</h2>
                                </header>

                                <p>We are getting married soon </p>

                                <div class="clear">&nbsp;</div>
                            </div><!-- /.POST-BOX -->
                        </div><!-- /.post-content-->

                        <div class="excerpt">
                            <div class="excerpt-content quote">
                                <span>&#8220;</span>Alhamdulillah, semoga disampaikan ke saat ini. 
                            </div><!-- /.excerpt-content-->

                        </div><!-- /.excerpt -->
                        
                    </div><!-- /.post -->
                </div><!-- /.theyear -->

                <!-- "TO BE CONTINUED" BUTTON -->
                <div class="theyear">
                    <div class="year">Akan Terus Bersambung.</div>
                </div>
            </div><!-- /.timeline-->
          
        </div> <!-- /container --> 

</section>