<section id="lokasi">
        
        <!-- "OUR STORY" HEADER -->
        <div id="lokasiphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Lokasi
                                <span>Tempat Berlangsungnya Walimatul Urus</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->


        <!-- Tab panes -->
        <div class="container location">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs pengantin" role="tablist">
                      <li class="active"><a href="#syafiyah" role="tab" data-toggle="tab">Kenduri Perempuan</a></li>
                      <li><a href="#faiz" role="tab" data-toggle="tab">Kenduri Lelaki</a></li>
                    </ul>
                    
                </div>


                <div class="tab-content">
                    <div class="tab-pane active" id="syafiyah">
                        <div class="col-sm-5 col-xs-12 thelocation">
                            <h3 class="sectionmaintitle">Syafiyah</h3>
                            
                            <!-- INTERMEDIARY CONTENT -->
                            <p>Kenduri sebelah pengantin perempuan bertempat di alamat seperti di bawah. Boleh rujuk peta di sebelah untuk lebih lanjut, malah koordinat juga disediakan jika anda bercadang untuk memandu ke dewan berkenaan. :)</p>

                            <!-- ADDRESS AND CEREMONY TIME -->
                            <ul class="locationdetails">
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <div class="alignleft">
                                        <h5>Dewan Badminton</h5>
                                        <p>Kompleks Sukan Langkawi,</p>
                                        <p>Jalan Air Hangat,</p>
                                        <p>07000 Langkawi, Kedah</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-time"></span>
                                    <div class="alignleft">
                                        <h5>14th Sept 2014</h5>
                                        <p>12:00PM - 5.00PM</p>
                                    </div>
                                    <br /><br /><br />
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <div class="alignleft">
                                        <h5>Syafiyah</h5>
                                        <p style="padding-top: 0px;">019 451 8500</p>
                                    </div>
                                </li>
                            </ul><!-- /.locationdetails -->
                        </div>
                        <!-- THE MAP -->
                        <div class="col-sm-7 col-xs-12 alignright">
                            <ul class="nav nav-tabs origin" role="tablist">
                              <li class="active"><a href="#jetty" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-road"></i> Dari Jeti</a></li>
                              <li><a href="#airport" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-plane"></i> Dari Airport</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="jetty">
                                    <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d15862.319212153277!2d99.85153146295173!3d6.31879412115354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e0!4m5!1s0x304b80842c8b6839%3A0x6492e25f26255865!2sJeti+Kuah%2C+Kuah%2C+Langkawi%2C+Kedah%2C+Malaysia!3m2!1d6.306302!2d99.851129!4m5!1s0x304c7f9e49d4f0ad%3A0x5705bfb08c3d64c5!2sKompleks+Sukan+Langkawi%2C+Jalan+Air+Hangat%2C+07000+Langkawi%2C+Kedah%2C+Malaysia!3m2!1d6.331771!2d99.85855099999999!5e0!3m2!1sen!2s!4v1404635472390" frameborder="0" style="width:100%;height:400px;border:0"></iframe>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane" id="airport">
                                    <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m8!1m3!1d63447.51043543742!2d99.7836132937012!3d6.333182729187884!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x304c781c789902bb%3A0xef81151ff355aacd!2sLangkawi+International+Airport%2C+Malaysia!3m2!1d6.3424059999999995!2d99.731656!4m5!1s0x304c7f9e49d4f0ad%3A0x5705bfb08c3d64c5!2sKompleks+Sukan+Langkawi%2C+Jalan+Air+Hangat%2C+07000+Langkawi%2C+Kedah%2C+Malaysia!3m2!1d6.331771!2d99.85855099999999!5e0!3m2!1sen!2s!4v1404688969469" frameborder="0" style="width:100%;height:400px;border:0"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group input-group-lg coordinate">
                              <span class="input-group-addon coordinate-label">Koordinat</span>
                              <input type="text" class="form-control coordinate-value" value="6.331471,99.858499" onclick="this.select()" readonly placeholder="Username">
                            </div>
                        </div><!-- /.col-md-7-->

                    </div>

                    <div class="tab-pane" id="faiz">
                        <div class="col-sm-5 col-xs-12 thelocation">
                            <h3 class="sectionmaintitle">Faiz</h3>

                            <p>Kenduri sebelah pengantin lelaki bertempat di alamat seperti di bawah. Boleh rujuk peta di sebelah untuk lebih lanjut, malah koordinat juga disediakan bagi memudahkan anda memandu ke tempat berkenaan. :)</p>

                            <!-- ADDRESS AND CEREMONY TIME -->
                            <ul class="locationdetails">
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <div class="alignleft">
                                        <h5>6554 Tanjung Putus,</h5>
                                        <p>13500 Permatang Pauh,</p>
                                        <p>Pulau Pinang</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-time"></span>
                                    <div class="alignleft">
                                        <h5>20th Sept 2014</h5>
                                        <p>12:00PM - 5.00PM</p>
                                    </div>
                                    <br /><br /><br />
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <div class="alignleft">
                                        <h5>Faiz</h5>
                                        <p style="padding-top: 0px;">013 504 2906</p>
                                    </div>
                                </li>
                            </ul><!-- /.locationdetails -->
                        </div>
                        <!-- THE MAP -->
                        <div class="col-sm-7 col-xs-12 alignright">
                            <ul class="nav nav-tabs origin" role="tablist">
                              <li><a href="#selatan" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-road"></i> Dari Selatan</a></li>
                              <li><a href="#utara" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-road"></i> Dari Utara</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="selatan">
                                    <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d15887.97536905519!2d100.41713206541529!3d5.4179039025505915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e0!4m3!3m2!1d5.4128698!2d100.4076183!4m3!3m2!1d5.4260633!2d100.42173319999999!5e0!3m2!1sen!2s!4v1405146771026" frameborder="0" style="width:100%;height:400px;border:0;"></iframe>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane" id="utara">
                                    <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d15887.573105609705!2d100.4253977749359!3d5.433177766749216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e0!4m3!3m2!1d5.4469759!2d100.4192278!4m3!3m2!1d5.4260633!2d100.42173319999999!5e0!3m2!1sen!2s!4v1405146480502" frameborder="0" style="width:100%;height:400px;border:0;"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group input-group-lg coordinate">
                              <span class="input-group-addon coordinate-label">Koordinat</span>
                              <input type="text" class="form-control coordinate-value" value="5.4260633,100.4217332" onclick="this.select()" readonly placeholder="Username">
                            </div>
                        </div><!-- /.col-md-7-->
                    </div>
                </div>

            </div>
        </div>

</section>
