<section id="ourstory">
        
        <!-- "OUR STORY" HEADER -->
        <div id="ourstoryphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Ucapan
                                <span>Tinggalkan Ucapan Anda Buat Pasangan Pengantin</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->

</section>