<section id="ucapan">
        
        <!-- "OUR STORY" HEADER -->
        <div id="ucapanphoto" class="parallax-hook parallax-ourstory parallax-background">
            
                <div class="section-overlay">
                    <div class="container">
                        <div class="row">
                            <header class="col-md-6 col-md-offset-3">
                                Ucapan
                                <span>Tinggalkan Ucapan Anda Buat Pasangan Pengantin</span>
                            </header>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.section-overlay -->
            
        </div><!-- /#outstoryphoto -->


         <!-- "GUEST BOOK" ACTUAL CONTENT -->
        <div class="container">
            <h3 class="text-center">Ucapan-ucapan yang diterima.</h3>

            <!-- carousel -->

            <div class="csspinner duo" align="center" ng-hide="ucapanCollection"></div>

            <div id="slide-ucapan" class="carousel slide" data-ride="carousel" ng-show="ucapanCollection" >
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li ng-repeat="ucapan in ucapanCollection" data-target="#slide-ucapan" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" id="ucapan-inner">
                <div class="item" ng-repeat="groupucapan in ucapanCollection" ng-class="{active: $first}">

                        <div class="border">
                            <div class="row">
                                
                                <!-- "GUEST BOOK" COMMENT -->
                                <div ng-repeat="ucapan in groupucapan" class="col-md-4">
                                    <div>
                                        <img gravatar-src="'{{ ucapan.email }}'" gravatar-size="65">
                                        <h5>{{ ucapan.name }}<span>{{ getFormattedDate(ucapan.created) }}</span></h5>
                                        <p>{{ ucapan.message }}</p>
                                    </div>
                                </div><!-- /.col-md-4 -->

                            </div><!-- /.row -->
                        </div><!-- /.border -->


                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#slide-ucapan" onclick="return false;" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#slide-ucapan" onclick="return false;" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            <!-- end carousel -->
            <!-- SIGN OUR GUESTBOOK SECTION -->
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left" style="margin-top: 0px;">Tulis nota pada buku tetamu!</h3>
                    <p><i>Ya Allah, Harmonikanlah hidup dua pengantin ini, berkatilah mereka berdua.<br />
                        Ya Allah, Tingkatkanlah kualiti keturunan mereka sehingga menjadikannya pembuka pintu rahmat, sumber ilmu dan hikmah,cserta pemberi rasa aman bagi ummat.</i></p>
                    <p>Amin Ya Rabbal ‘Alamin</p>
                    <p>Doa Rasulullah SAW pada pernikahan puteri Baginda, Saiditina Fatimah Az-Zahra dengan Saidina Ali bin Abi Talib.</p>
                    <p><strong>Kami berbesar hati menerima ucapan dan doa dari Tuan/Puan/Encik/Cik :</strong></p>
                </div>
                <div class="col-md-6">

                    <!-- "GUEST BOOK" FORM -->
                    <form role="form" name="ucapanForm" >
                        <div class="form-group">
                            <input ng-model="newPerson.name" required type="text" placeholder="Nama..." id="guest-name" name="guest-name" class="form-control">
                        </div>

                        <div class="form-group">
                            <input ng-model="newPerson.email" required type="email" placeholder="Email..." id="guest-email" name="guest-email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea ng-model="newPerson.message" required id="guest-message" name="guest-message" placeholder="Mesej anda di sini..." rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group" id='gb_submit_m'>
                            <input type="button" class="btn btn-primary" value="Hantar Mesej" ng-click="submit()" ng-disabled="ucapanForm.$invalid">
                        </div>
                        <!-- SUCCESS/ERROR FIELDS -->
                        <div id='guestbook_success' class='alert alert-success'>Thank you. Your message has been sent.</div><!-- /. SUCCESS MESSAGE -->
                        <div id='guestbook_fail' class='alert alert-danger'> Sorry, don't know what happened. Try later.</div><!-- /. ERROR MESSAGE -->
                    </form><!-- /.signguestbook-->
                </div><!-- /.col-md-6-->
            </div><!-- /.row-->
                        
        </div><!-- /.container -->

</section>